<section id="stack" class="container stack">
  <p class="stack__label">{{ ui[lang()].stack.label }}</p>
  <h3 class="stack__title">{{ ui[lang()].stack.title }}</h3>
  <p class="stack__note">{{ ui[lang()].stack.note }}</p>

  <div class="stack__grid">
    @for (group of groups; track group.name) {
      <div appReveal class="stack__card">
        <p class="stack__group-name">{{ group.name }}</p>
        <div class="stack__badges">
          @for (tech of group.items; track tech) {
            <span class="stack__badge">{{ tech }}</span>
          }
        </div>
      </div>
    }
  </div>
</section>
